{% load static %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto"></ul>
    </div>
    <div class="mx-auto order-0">
        <a href="/" class="navbar-brand" style="font-size:30px">
        <img src="" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="/lougout" class="nav-link">Logout</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="btn btn-outline-primary">{{user.username|title}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="btn btn-outline-primary">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>