{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="container">
    <div class="row mb-4 pt-4">
        <div class="col-sm-4">
            <img src="{{user.profile.photo.url}}" alt="{{user.photo.url}}" width="200" height="200"
                class="rounded-circle account-img">
            <section>
                <div class="row1">
                    <h3 class="text-monospace">{{user.username}}</h3>
                </div>

                <div class="row2 mt-3">
                    <p class="text-monospace">{{images|length}} posts</p>
                    <p class="text-monospace ml-3">{{user.profile.all_followers}} followers</p>
                    <p class="text-monospace ml-3">{{user.profile.all_following}} following</p>
                </div>
            </section>
        </div>
        <div class="col-sm-8">
            <div class="col-md">
                {% if images %}
                {% for image in images %}
                <div class="profile">
                    <div class="row">
                        <div class="col-md-2">
                            {% if image.user.profile.photo.url %}
                            <p><a href="{% url 'users_profile' image.user.id %}"><img class="profile_photo"
                                        src="{{ image.user.profile.photo.url }}" alt="{{ photo.profile.name }}"></p>
                            {% else %}
                            <i style="font-size:100px;color:#1d1c1c" class="fa fa-user" aria-hidden="true"></i>
                            {% endif %}
                        </div>

                    </div>
                    </a>
                </div>

                <div class="card-body">
                    <div>
                        <a href=" {% url 'likes' image_id=image.id %}">
                            <i class="fa fa-heart-o fa-3x text-success" aria-hidden="true"></i></a>
                        <p><strong class="ml-3 photo_likes">{{image.all_likes}} </strong>
                            <strong>Likes</strong>
                        </p>
                    </div>
                    <div>
                        <p class=""><strong>{{image.name}}</strong> {{photo.caption}}</p>
                    </div>
                    {% for comment in image.all_comments %}
                    <p class="ml-3"><span class="font-weight-bold text-success">{{comment.user.username}}</span>:
                        {{comment.comment}}</p>
                    {% endfor %}
                    <form action="{% url 'commenting' image_id=image.id %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form comment_form %}
                        <input type="submit" class="btn btn-success btn-lg" style="margin-bottom: 10px;"
                            value="Comment">
                    </form>
                </div>
                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}